---
//seccion para hablar de mi 
---

<section id="sobre-mi" class="flex flex-col py-12">
    <h2 class="text-2xl md:text-3xl font-medium tracking-tight text-white pb-10"> 
        Sobre Mí
    </h2>

    <p class="text-gray-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, explicabo dolorem enim est 
        fugit nam sed deserunt neque omnis optio corrupti minima, quod tempora at sint fuga aliquam? 
        Nulla, facilis?</p>
</section>