---
//seccion para hablar de mi 
---

<section class="flex flex-col pt-28 justify-center items-center">
    <h2 class="text-5xl font-bold pb-5">Sobre Mi</h2>
    <p class="text-gray-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, explicabo dolorem enim est fugit nam sed deserunt neque omnis optio corrupti minima, quod tempora at sint fuga aliquam? Nulla, facilis?</p>
</section>