<section id="estudios" class="py-12">
    <h2 class="text-2xl md:text-3xl font-medium tracking-tight text-white"> 
        Educación
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-8 mt-8">
        <div class="bg-zinc-800 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
            <h3 class="text-xl font-semibold text-white mb-2">Ingeniería de Sistemas</h3>
            <p class="text-zinc-400 mb-4">Universidad Nacional de Colombia - 2018 a 2023</p>
            <ul class="list-disc list-inside text-zinc-400">
                <li>Aprendí fundamentos de programación, estructuras de datos y algoritmos.</li>
                <li>Participé en proyectos de desarrollo de software y aplicaciones web.</li>
                <li>Realicé prácticas profesionales en empresas del sector tecnológico.</li>
            </ul>
        </div>

        <div class="bg-zinc-800 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
            <h3 class="text-xl font-semibold text-white mb-2">Curso de Desarrollo Web</h3>
            <p class="text-zinc-400 mb-4">Platzi - 2020</p>
            <ul class="list-disc list-inside text-zinc-400">
                <li>Aprendí HTML, CSS y JavaScript para crear sitios web interactivos.</li>
                <li>Desarrollé proyectos prácticos aplicando los conocimientos adquiridos.</li>
                <li>Me familiaricé con frameworks y librerías modernas como React y Vue.js.</li>
            </ul>
        </div>
</section>