---
//seccion para mostrar las tecnologias que manejo 
---

<section id="Skills" class="pt-20"> 
    <div>
        <h2 class="text-5xl text-center font-bold pb-5"> Habilidades Tecnicas </h2>
        <div class="flex flex-wrap justify-center gap-8 pt-8">
            <img src="/icons/css.svg" alt="CSS" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
            <img src="/icons/html.svg" alt="HTML" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
            <img src="/icons/javascript.svg" alt="JS" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
            <img src="/icons/python.svg" alt="PY" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
            <img src="/icons/git.svg" alt="GIT" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />            <img src="/icons/mysql.svg" alt="MYSQL" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
            <img src="/icons/react.svg" alt="REACT" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
            <img src="/icons/tailwind.svg" alt="TAILWIND" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
            <img src="/icons/astro.svg" alt="ASTRO" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
            <img src="/icons/django.svg" alt="DJANGO" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
            <img src="/icons/bash.svg" alt="BASH" class="w-12 h-12 transistion-transform duration-300 hover:scale-110 hover:drop-shadow-lg" />
        </div>
    </div>
</section>