<!-- Sección de entrenamiento con Flexbox -->
<section class="pt-20 pb-20 bg-gray-100">

  <div class="flex justify-center gap-4 px-4">
    <div class="bg-yellow-400 p-4 w-24 text-center">A</div>
    <div class="bg-green-400 p-4 w-24 text-center">B</div>
    <div class="bg-pink-400 p-4 w-24 text-center">C</div>
  </div>

</section>
