---
import "../styles/global.css"; //estilos globales
// import "@fontsource-variable/onest"; //fuente a usar en la pagina 
import '@fontsource-variable/onest/index.css';
---
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Portafolio Andrés Becerra</title>
    </head>
    
<body
    class="min-h-screen w-screen text-white p-4 box-border overflow-y-auto overflow-x-hidden
            bg-black
            bg-[linear-gradient(115deg,_#000_0%,_#000_40%,_#3a332c_58%,_#000_72%,_#000_100%)]
            relative"
    >

    <!-- capa de grano fuerte, sin blend mode para q se note completo -->
    <div
        class="fixed inset-0 pointer-events-none opacity-[0.35] mix-blend-hard-light"
        style="background-image: url(&quot;data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJz4KPGZpbHRlciBpZD0nbicgeD0nMCcgeT0nMCc+CjxmZVR1cmJ1bGVuY2UgdHlwZT0nZnJhY3RhbE5vaXNlJyBiYXNlRnJlcXVlbmN5PScwLjknIG51bU9jdGF2ZXM9JzEnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIHZhbHVlcz0nMCcvPgo8L2ZpbHRlcj4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI24pJy8+Cjwvc3ZnPg==&quot;); background-size: 180px 180px;"
    ></div>

    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
        <slot />
    </div>
</body>

</html>